services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 12

  alembic-db-init:
    build: .
    command: alembic upgrade head
    working_dir: /code
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy

  api1:
    build: .
    ports:
    - "8001:8000"
    restart: unless-stopped
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql+asyncpg://postgres:postgres@db:5432/postgres"

  api2:
    build: .
    ports:
    - "8002:8000"
    restart: unless-stopped
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql+asyncpg://postgres:postgres@db:5432/postgres"

  api3:
    build: .
    ports:
    - "8003:8000"
    restart: unless-stopped
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql+asyncpg://postgres:postgres@db:5432/postgres"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api1
      - api2
      - api3


volumes:
  postgres_data: