services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 12


  alembic-db-init:
    build: .
    container_name: alembic_migrate
    command: alembic upgrade head
    working_dir: /code
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy


  api:
    build: .
    ports:
    - "8000:8000"
    restart: unless-stopped
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql+asyncpg://postgres:postgres@db:5432/postgres"



volumes:
  postgres_data: