
services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  pgbouncer:
    image: edoburu/pgbouncer:latest
    restart: unless-stopped
    ports:
      - "6432:6432"
    depends_on:
      - postgres
    volumes:
      - ./deploy/pgbouncer/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro
      - ./deploy/pgbouncer/userlist.txt:/etc/pgbouncer/userlist.txt:ro

  redis:
    image: redis:7-alpine
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    restart: unless-stopped

  mongo:
    image: mongo:6
    volumes:
      - mongodata:/data/db
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    env_file:
      - .env
    # volumes:
    #   - .:/usr/src/app:cached
    depends_on:
      - pgbouncer
      - redis
      - rabbitmq
      - mongo
    restart: unless-stopped
    ports:
      - "8000:8000" 

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    env_file:
      - .env
    depends_on:
      - pgbouncer
      - redis
      - rabbitmq
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    volumes:
      - ./deploy/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - web
      
      
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./deploy/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./deploy/nginx/conf.d:/etc/nginx/conf.d:ro
      - static_volume:/srv/static:ro
    depends_on:
      - web
    restart: unless-stopped

volumes:
  pgdata:
  mongodata:
  static_volume: